* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Karla", sans-serif;
}

button {
    background-color: #035aa6;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.wrapper {
    max-width: 500px;
}
div {
    border-radius: 5px;
    transition-property: all;
    transition-duration: 1s;
    font-size: 3rem;
    color: rgb(41, 113, 41);
}

.small {
    border: 3px solid #333;
}

.medium {
    border: 13px solid #333;
}

.big {
    border: 23px solid rgb(41, 113, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: rgb(197, 197, 15);
}
