* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5rem;
}

li {
    line-height: 1.5em;
    font-size: 0.8em;
}
ul {
    padding-inline-start: 1.2em;
    list-style: none;
}
ul li:first-of-type ul li:first-of-type li::before {
    content: "🐶";
}
ul li:first-of-type ul li:nth-of-type(2) li::before {
    content: "🐱";
}
ul li:nth-of-type(2) ul li:first-of-type li::before {
    content: "🐦";
}
ul li:nth-of-type(3) ul li:first-of-type li::before {
    content: "🐍";
}
ul li:nth-of-type(3) ul li:nth-of-type(2) li::before {
    content: "🦎";
}

section {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
