* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
form {
    padding: 5vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid;
    border-radius: 20px;
}
