* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 8.5fr 0.5fr;
    color: white;
    gap: 2px;
}

header {
    grid-column: span 4;
    background-color: blue;
}
aside {
    background-color: green;
}
main {
    background-color: red;
    grid-column: span 3;
}
footer {
    background-color: blueviolet;
    grid-column: span 4;
}
